:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-content-bubble + app-content-bubble {
  margin-top: 5px;
}

.message-row-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

:host-context(.user) .message-row-container {
  flex-direction: row-reverse;
}

.event-chips-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

:host-context(.user) .event-chips-container {
  justify-content: flex-end;
}

.eval-case-edit-button {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}

.eval-pass {
  display: flex;
  color: #2e7d32;
}

.eval-fail {
  display: flex;
  color: var(--mat-sys-error);
}

.hidden {
  visibility: hidden;
}

.event-action-button {
  margin: 5px;
}

.function-calls-previews {
  width: 100%;
}
